[submodule "vim/plugins/nerdtree"]
	path = vim/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugins/vim-pathogen"]
	path = vim/plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/plugins/vim-surround"]
	path = vim/plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/plugins/nerdcommenter"]
	path = vim/plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/plugins/ctrlp.vim"]
	path = vim/plugins/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
